# packages for touchpi-doc
# Python version should be >= 3.6
# pip install mkdocs-mermaid2-plugin
# pip install -r requirements.txt
mkdocs>=1.5.3
mkdocs-material==9.5.2
mkdocs-markdownextradata-plugin>=0.2.5
